{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}
<div class="conatiner">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/img/4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block" style="
        background: black;
        border-radius: 39px;">
          <h5>WASTE COLLECTOR AGENCY</h5>
          <p>There are programs for the scrapping of appliances, but no one thinks about what's involved in the waste management of brassieres. </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}